<h1 class="title">🧩 Jira Dashboard</h1>

<div class="board">

  <!-- TODO -->
  <div class="column"
       (dragover)="allowDrop($event)"
       (drop)="onDrop('todo')">

    <h2>📝 Tasks</h2>

    <div
      class="task-card"
      *ngFor="let task of todo"
      draggable="true"
      (dragstart)="onDragStart(task, 'todo')">
      {{ task }}
    </div>
  </div>

  <!-- IN PROGRESS -->
  <div class="column"
       (dragover)="allowDrop($event)"
       (drop)="onDrop('inProgress')">

    <h2>🚧 In Progress</h2>

    <div
      class="task-card in-progress"
      *ngFor="let task of inProgress"
      draggable="true"
      (dragstart)="onDragStart(task, 'inProgress')">
      {{ task }}
    </div>
  </div>

  <!-- DONE -->
  <div class="column"
       (dragover)="allowDrop($event)"
       (drop)="onDrop('done')">

    <h2>✅ Completed</h2>

    <div
      class="task-card done"
      *ngFor="let task of done"
      draggable="true"
      (dragstart)="onDragStart(task, 'done')">
      {{ task }}
    </div>
  </div>

</div>
